.day {
    display: flex;
    border:1px solid black;
    border-radius: 10px;
    grid-area: top;
    width: 58px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.inActive{
    background-color: white;
    color: black;
    text-decoration: none;
}
.active{
    background-color: black;
    color: white;
    text-decoration: none;
}
.circles {
    display: flex;
    justify-content:center;
    gap: 10px;
}
.circle {
    margin-top: 3px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}
.done{
    background-color: cornflowerblue;
}
.noDone{
    border: 1px solid black;
}




