.Footer{
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.Footer button{
    font-size: 18px;
    width: 380px;
    height: 45px;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.33);
}
.Footer button:hover{
    cursor: pointer;
    filter: brightness(90%);
}
.Footer button:active{
    filter: brightness(120%);
}

